*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
/* navbar section */
#navbar{
    width: 100%;
    height: 100px;
    /* background-color: tomato; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .logo{
    width: 20%;
    /* height: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 53px;
    background-image: linear-gradient(to top, rgb(86, 233, 86) 20%, rgb(136, 241, 141) 60%);
    box-sizing: border-box;
    font-size: x-large;
    font-weight: 900;
    animation: aagepiche 2s linear infinite;
    animation-direction: alternate;
}

#navbar .logo h1{
    font-size: 33px;
    color: white
}

@keyframes aagepiche{
    from{
        padding-left: 10px;
    }
    to{
        padding-right: 10px;
    }
}

#navbar nav{
    width: 60%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1rem;
    
}

#navbar nav a{
    text-decoration: none;
    color: white;
    position: relative;
}

#navbar nav a::before{
    content: "";
    position: absolute;
    top: 78%;
    left: 0;
    width: 0;
    height: 3px;
    border-bottom: 2px solid;
    transition: all 0.3s linear;
}
#navbar nav a:hover:before{
    width: 100%;
    

}

#navbar .search{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: white
}

/* main section */

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section::before{
    content: "";
    height: 810px;
    width: 100%;
    position: absolute;
    background-image: linear-gradient( 27deg, rgba(252, 79, 165, 0.411), rgb(120, 92, 247));
    z-index: -1;
}

section #rightside{
    margin: 0px 139px;
    height: 100%;
    width: 500px;
    padding-top: 49px;
}

section #rightside img{
    max-width: 451px;
    height: auto;
}

section #leftside{
    text-transform: capitalize;
    padding: 0px 54px;
}

section #leftside h1{
    padding: 10px 0px;
    font-size: xx-large;
}
section #leftside h2{
    margin-bottom: 28px;
    letter-spacing: 2px;
}

section #leftside #btn1{
    /* border: 1px solid darkturquoise; */
    padding: 16px;
    background-image: linear-gradient(to left, rgb(60, 209, 214) 20%, rgb(145, 144, 243) 90%);
    box-shadow: 2px 2px 1px pink;
    letter-spacing: 1px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 50px;
}

section #leftside #btn2{
    padding: 16px;
    background-image: linear-gradient(to right, rgb(60, 209, 214) 20%, rgb(145, 144, 243) 90%);
    box-shadow: 2px 2px 1px pink;
    letter-spacing: 1px;
    border-radius: 10px;
}

