*{
    margin: 0;
    padding: 0;
}



/* navigationbar section */

nav{
    display:flex;
    width: 100%;
    height: 70px;
    position: relative;
}

nav::before{
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    background:linear-gradient(45deg, rgb(72, 132, 223),rgb(135, 235, 89));
    z-index: -1;
    opacity: 0.89;
}

/* navigationbar section: logo */

nav #logo{
    display:flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

nav #logo h1{
    font-size: xx-large;
    animation: heading 2s infinite ease-in-out;
    animation-direction: alternate;
    /* background: linear-gradient(to top,#185fbb, #9124eb); */
color: yellow;
}

@keyframes heading{
    from{padding-left: 190px;}
    to{padding-right: 190px;}
}

/* navigationbar section: lists */

nav ul{
    display: flex;
    align-items: center;
    width:50%;
    height: 100px;
    position: relative;
    bottom: 12px;
}

nav ul a{
    padding: 0px 64px;
    text-decoration: none;
    color: cyan;
    font-size: 1.2rem;
} 

/* main content section */
main{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}
#head-main{
    display: flex;
    width: 100%;
    height: 467px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 64px;
}

main::before{
    content: "";
    width: 100%;
    height: 687px;;
    position: absolute;
    background-image: linear-gradient( 27deg,pink,purple);
    z-index: -1;
}

#head-main h1{
color: yellow;
font-size: xxx-large;
margin: 8px;
}

#head-main p{
color: rgb(37, 231, 222);
font-size: x-large;
margin: 12px 0px;
}

#head-main{
color: rgb(254, 255, 251);
}

#head-main span::after{
 content: " ";
 animation: namechange 10s infinite linear;
 color: rgb(72, 241, 101);
 text-decoration: underline;
}

@keyframes namechange{
    0% { content:"Twitter";}
    30% {content:"Facebook";}
    60% {content:"Linkedin";}
    100% {content:"Instagram";}
}

.btn1{
    padding: 16px;
    background-image: linear-gradient(to left, rgba(255, 213, 166, 0.521) 20%, rgb(144, 231, 243) 90%);
    box-shadow: 2px 2px 1px pink;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-right: 50px;
}

.btn2{
    display: inline-block;
    padding: 16px;
    background-image: linear-gradient(to right, rgb(176, 255, 176) 20%, rgb(135, 253, 237) 90%);
    box-shadow: 2px 2px 1px pink;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-right: 50px;
}

#head-main div{
    margin: 30px 0px;
}

#head-main div a{
   color: #0c0b0c;
   text-decoration: none;
}