*{
    margin: 0;
    padding: 0;
}


.logo img{
    cursor: pointer;
    height: 157px;
    display: block;
}

#navbar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    position: absolute;
    
     
}
#navbar::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background: rgb(104, 32, 32);
    opacity: 0.86;
    z-index: -2;
    
}

#navbar ul{
    display: flex;
    width: 50%;
    height: 82px;
    line-height: 85px;
    position: absolute;
    left: 216px;
    
}

#navbar ul li{
    list-style-type: none;
    
}

#navbar ul li a{
    padding: 0px 28px;
    text-transform: capitalize;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 1s ease;
    color: white;
}

#navbar ul li a:hover{
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;

}

section{
    width: 100%;
    height: 100%;
   
}

section::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/fitbg.jpg) no-repeat center center/cover;
    z-index: -1;
}

section #form{
    display: block;
    border: 2px solid;
    width: 33%;
    margin: auto;
    border-radius: 20px;
    position: relative;
    top: 205px;
    right: 450px;
    height: 357px;
    text-align: center;
    background-color: rgb(241, 235, 179);
}

#form input, label{
    padding: 8px 12px;
    margin: 11px;
}

#form h1{
   text-align: center;
   padding-bottom: 6px;
}

