*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menusection{
    position: relative;
   display: flex; 
   justify-content: space-between;
   /* background-color: aquamarine; */
}

.right {
    padding: 3pc 54px;
}

img{
    width: 109px;
    height: 102px;
    margin: 28px 3em;
}


.left{
    margin: 0 3em;
    width: 82px;
    height: 165px;
}

li{
    display: inline-block;
    padding: 28px 27px;
    list-style: none;
    text-transform: capitalize;
}
ul li a {
    text-decoration: none;
    color: white;
    position: relative;
    /* background-color: rgb(30, 170, 37); */
    font-weight: 600;
}
header{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: blue;
}
.text{
    margin: 64px 62px;
}

section{
    display: flex;
    justify-content: space-between;
    position: relative;
}

#para1{
    font-size: 4.5pc;
    color: white;
    letter-spacing: 1px;
    font-family: fantasy;
    line-height: 6pc;
    text-transform: uppercase;
}
#half{
    font-size: 8pc;
    line-height: 8pc;
}

#para2{
    color: white;
    font-size: 1.2pc;
    margin: 22px 0;
}

#btn{
    background-color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 11pc;
    padding: 3px 19px;
    letter-spacing: 1.2px;
    text-transform: capitalize;
}

.right  img{
    width: 14pc;
    height: 27pc;
    margin: -2pc 11em;
    position: absolute;
    right: 0pc;
}

.small_icon {
    display: flex;
    position: absolute;
    top: 29em;
    left: 28pc;
    width: 1em;
    cursor: pointer;
}

.small_icon img{
    position: relative;
    height: 62px;
    top: 3pc;
    left: 10em;  
    transition: 0.5s;
}

#media{
    filter: invert(1);
    flex-direction: column;
    display: flex;
    position: relative;
}

#media img{
    width: 30px;
    height: 20px;
    position: relative;
    right: 54px;
    top: 135px;
    margin: 15px 0;
}
#img3:hover{
    transform: translateY(-8px);
}
#img2:hover{
    transform: translateY(-8px);
}
#img1:hover{
    transform: translateY(-8px);
}