/* navigation bar section */
#navbar{
    flex-direction: column;
    overflow: hidden;
    
}

/* navigation bar: list items */

#navbar ul li a{
    font-size: 1.3rem;
    padding: 0px 20px;
}
#navbar ul{
   font-family: cursive;
}

/* navigation bar:logos section */
/* Home section */
#home{
    text-align: center;
    padding-bottom: 120px;
}

#home p{
    font-size: 1.3rem;
}
/* Service section */
#service-container{
    position: relative;
    top: 39px;
}
#service{
    flex-direction: column;
}

/* our clients section */
#clients{
    position: relative;
    top: 157px;
}

/* contact-us section */
#contact-form{
    position: relative;
    top: 137px;
}

#contact-form h2{
    margin: 33px 0px;
}